* {
	font-size: 100%;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: "Poppins", sans-serif;
	background-color: #f2e9e4;
	color: #22223b;
}

body header {
	padding: 15px;
	font-weight: 700;
	font-size: 1.5rem;
}

.main-container {
	display: flex;
	flex-direction: column;
	padding: 15px;
}

.input-container {
	position: relative;
	display: flex;
	flex-direction: column;
}

.input-container input,
ul {
	max-width: 300px;
	margin-bottom: 10px;
}

ul {
	list-style-type: none;
}

.display-container {
	color: #f2e9e4;
	font-weight: 500;
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
	margin-top: 30px;
	text-align: center;
}

.booksCard {
	padding-top: 30px;
	height: 250px;
	width: 250px;
	position: relative;

	z-index: 1;
}

.booksCard::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;

	background-color: #eff1f3;
	transition: transform 100ms ease-in-out;
	transform: scaleX(0);
}

.booksCard:hover::before,
.booksCard:focus::before {
	transform: scaleX(1);
}

.booksCard:hover {
	transform: translateY(-1rem);
	color: #22223b;
}

#hiddenButton {
	display: none;
}
